<a href="https://colab.research.google.com/github/rajat10pal/Python_Assignment/blob/main/Assignment_BasicPython.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
'''Q1. Using Python script as a calculator
Create the variables n, r, p and assign them values 10, 5, and 100 respectively. Then
evaluate the following expression in the Python console.
ùê¥ = ùëù (1 + ùëü/ 100)n
a. 100
b. 162.89
c. 189
d. None of the above'''

p= 100
r=5
n=10

A=p*(1+r/100)**n

print(A)


# Ans - 162.8894626777442

162.8894626777442

In [6]:
'''Q2. In a given string format operation, how will you print the given string.
A = 10
B = 20
Str = "There are {} students in the class, with {} who play at least one sport."
a. print(string.format(a,b))
b. print(string+a+b)
c. print(string.format(b,a))
d. None of the above'''


A = 10
B = 20
string = "There are {} students in the class, with {} who play at least one sport."

print(string.format(B,A))

# ans - There are 20 students in the class, with 10 who play at least one sport.

There are 20 students in the class, with 10 who play at least one sport.

In [8]:
'''Q3. In a given sample string, How do you print a double quoted string in between a
regular
string using the escape character?
Sample output = It goes without saying, ‚ÄúTime is Money‚Äù, and none can deny it.
a. print(‚ÄúIt goes without saying, \‚ÄúTime is Money\‚Äù, and none can deny it.‚Äù)
b. print(‚ÄúIt goes without saying, \Time is Money\, and none can deny it.‚Äù)
c. print(‚ÄúIt goes without saying‚Äù + ‚ÄúTime is Money‚Äù + ‚Äúand none can deny it.‚Äù)
d. None of the above.'''


print("It goes without saying, \‚ÄúTime is Money\‚Äù, and none can deny it.")

#It goes without saying, \‚ÄúTime is Money\‚Äù, and none can deny it.

It goes without saying, \‚ÄúTime is Money\‚Äù, and none can deny it.

In [10]:
'''4. What will be the output of the following code?
x = lambda a,b: a//b
x(10,3)
a. 3.3333333333
b. 3
c. 30
d. 1000'''

x = lambda a,b: a//b
x(10,3)

#Ans -3

3

In [11]:
'''Q5. What will be the output of the following code?
A = 10
B = 12
print("Smaller") if A == B else print("Greater") if A < B else print("True")
a. True
b. Smaller
c. Greater
d. None of the above'''

A = 10
B = 12
print("Smaller") if A == B else print("Greater") if A < B else print("True")

#Ans-Greater

Greater

In [13]:
'''Q6. What will be the output of the following code?

import os
import numpy as np
my_list1 =[2,7,3,5,4,6]
print(my_list1)
arr_1 = numpy.array(my_list1,dtype =int )
print(arr_1)

a. [2 7 3 5 4 6]
b. TypeError
c. NameError: name 'numpy' is not defined
d. None of the above'''

import os
import numpy as np
my_list1 =[2,7,3,5,4,6]
print(my_list1)
arr_1 = np.array(my_list1,dtype =int )
print(arr_1)

#ans -[2, 7, 3, 5, 4, 6]
[2 7 3 5 4 6]

[2, 7, 3, 5, 4, 6]
[2 7 3 5 4 6]

In [14]:
'''Q7. Create a string called ‚Äòstring‚Äô with the value as ‚ÄúMachine Learning‚Äù. Which code(s)
is/are appropriate to slice the substring ‚ÄúLearn‚Äù?
a. string[slice(13,8,1)]
b. string[slice(1,8,1)]
c. string[8:14]
d. string[slice(8,13,1)]'''

string = 'Machine Learning'
string[8:13]

#ans- Learn

'Learn'

In [15]:
'''Q8. Create a sequence of numbers from 10 to 25 and increment by 4. What is the index
of the
value 18?
a. 3
b. 2
c. 0
d. 1'''

a= list(range(10,25,4))
b=  a.index(18)
b

#ans-2

2

In [16]:
'''Q9. Which of the following is true with respect to the below codes?
a. num1 = num2
b. num1 ‚â† num2
c. num1 < num2
d. num1 > num2'''

#soltuion
num1 = 5**4
num2 = pow(5,4)
print(num1,num2)

#ans =  a.num1 = num2

625 625

In [ ]:
'''Q10.A Python NameError exception is raised when: -
a. Trying to access a variable which has not been defined
b. Trying to access a key in a dictionary that does not exist
c. Accessing a column with misspelled column name
d. Accessing the function from a module that has not been imported

#ans = a. Trying to access a variable which has not been defined

In [17]:
'''Q11.What type of exception will be raised for the code given below?
x = 'string'
int(x)

a. NameError
b. KeyError
c. ValueError
d. AttributeError'''

#solution
x = 'string'
int(x)

#ans = c. ValueError

ValueError: ignored

In [ ]:
'''Q12.A FileNotFoundError exception is raised by operating system errors when: -
a. Trying to create a file or directory which already exists
b. A file or directory is requested but does not exist in the working directory
c. Trying to run an operation without the adequate access rights
d. A directory operation, os.listdir() is requested on something which is not a
directory'''

#solution
# ans = b

In [ ]:
'''Q13.Consider a variable Z. The value of Z is "ID-5632". Data type of Z is: -
a. Complex
b. Character
c. Integer
d. Boolean'''

#solution
z = 'ID - 5632'


#ans = b.character

In [ ]:
'''Q14.Which of the following variable(s) are character data type?
a. K= ‚Äú4‚Äù
b. J= ‚ÄúWelcome‚Äù
c. L= ‚Äú?‚Äù
d. All of the above'''


# ans =  d.All of the above

In [ ]:
'''Q15.Choose the symbol/s that does not have the ability to convert any values to string?
a. ( )
b. ‚Äú ‚Äù
c. {}
d. #'''

#ans = d.#'''

In [18]:
'''Q16.Create a dictionary ‚ÄòCountry‚Äô that maps the following countries to their capitals
respectively:
Country India China Japan Qatar France
State Delhi Beijing Tokyo Doha Marseilles
Find 2 commands to replace ‚ÄúMarseilles‚Äù with ‚ÄúParis‚Äù is:'''

#Ans

Country = {'India':'Delhi','China':'Beijing','Japan':'Tokyo','Qatar':'Doha','France':'Marseilles'}
Country

Country['France'] = 'Paris'             # 1st way
Country

Country.update({'France':'Paris'})          # 2nd way
Country

{'India': 'Delhi',
 'China': 'Beijing',
 'Japan': 'Tokyo',
 'Qatar': 'Doha',
 'France': 'Paris'}

In [ ]:
'''Q17. Create the tuples given below
tuple_1 = (1,5,6,7,8)
tuple_2 = (8,9,4)
Identify which of the following code does not work on a tuple.
a. sum(tuple_1)
b. len(tuple_2)
c. tuple_2 + tuple_1
d. tuple_1[3] = 45'''

#solution

tuple_1 = (1,5,6,7,8)
tuple_2 = (8,9,4)

sum(tuple_1)
len(tuple_2)
tuple_2+tuple_1
tuple_1[3] = 45

#Ans = d.tuple_1[3] = 45

In [ ]:
#Q18. How many elements in the following data structure?

s = {1,2,3,4,4,4,5,6}
p = len(s)
p

# Ans 6 elements because it does not allow duplicates values